{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>My Web Page</title>
  </head>
  <body>
    <header>
      <h1>As's Website</h1>
      <nav>
        <ul>
          <li><a href="{% url 'home'%}">Home</a></li>
          <li><a href="{% url 'aboutus' %}">About Us</a></li>
          <li><a href="{% url 'usersinfo' %}">Users</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer id="foot">
      <p>Contact Info:</p>
      <p>
        <a href="mailto:savajarpit2810@gmail.com"
          >Email: savajarpit2810@gmail.com</a>
      </p>
      <p>Phone: 6353483929</p>
    </footer>
  </body>
</html>
